<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FGC THN Meetups</title>
    <link rel="icon" href="/static/assets/favicon.png" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body class="theme-dark">
    <header class="app-header">
      <div class="brand">FGC THN Meetups</div>
      <nav class="nav-links">
        <a href="/kiosk">Checkin</a>
        <a href="/admin">Admin</a>
        <a href="/logout">Logga ut</a>
      </nav>
    </header>
    <main class="app-main">
      {% block content %}{% endblock %}
      <div class="app-footer">
        <p>Powered by IMLO</p>
      </div>
    </main>
  </body>
</html>
